    <!-- Promo Block -->
    <section class="g-flex-centered g-bg-pos-center g-bg-img-hero g-py-150" style="background-image: url(./assets/img/1920x1080/bg-mountains.jpg);" data-calc-target="#js-header">
      <div class="container text-center g-z-index-1">
        <div class="g-mb-25" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500">
          <h2 class="h4 d-inline-block g-brd-bottom g-brd-2 g-brd-white g-color-white g-font-weight-600 text-uppercase g-pb-5">Solutions Architect</h2>
        </div>

        <img class="g-width-200 g-height-200 g-brd-gray-light-v7 rounded-circle g-mb-20 g-bg-white-opacity-0_3" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" src="./assets/img/200x200/profile.png" alt="Kyle Bush">         
        
        <div class="g-mb-25" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500">
          <h2 class="h4 d-inline-block g-brd-bottom g-brd-top g-brd-1 g-brd-white g-color-white g-font-weight-500 g-pb-5">Providing​ ​practical​ ​and​ ​innovative​ ​technology​ ​solutions</h2>
        </div>  

        <div class="g-pos-abs g-left-0 g-right-0 g-z-index-2 g-bottom-30">
          <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-11" href="#" data-target="#about">
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->